* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Press Start 2P';
}



/* tag class */
h1 {
   font-size: 5rem;
   line-height: 110%;
}

p {
   font-size: 1.8rem;
}

h3 {
   font-size: 2.7rem;
   margin-top: 5rem;
}

img {
   width: 200px;
}




/* general class */
.text_description {
   margin-top: 5rem;
   line-height: 130%;
}

._container {
   padding: 7rem 14rem;
}


/* over */
._card {
   cursor: pointer;
}