* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Press Start 2P';
}


/* custom class */
.z_-1{
   z-index: -1;
}




/* tag class */
h1 {
   font-size: 5rem;
   line-height: 110%;
}

ul > p {
   font-size: 1.8rem;
}

h3 {
   font-size: 2.7rem;
   margin-top: 5rem;
}

h2 {
   font-size: 5rem;
}

img {
   width: 200px;
}




/* general class */
.text_description {
   margin-top: 5rem;
   line-height: 130%;
}

._container {
   background-color: rgb(28, 28, 196);
   padding: 7rem 14rem;
}

.card_hidden {
   position: absolute;
   top: -1rem;
   left: -1rem;
}

.overlay_end_game {
   height: 60%;
   width: 70%;
   background-color: rgba(27, 27, 27, 0.95);

   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   
   justify-content: center;
   align-items: center;
}

.play_again {
   margin-top: 3rem;
   padding: 15px 25px;
   font-size: 1.5rem;
}


/* over */
._card {
   cursor: pointer;
}