* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Press Start 2P';
}



/* custom class */
.z_-1{
   z-index: -1;
}




/* tag class */
h1 {
   font-size: 5rem;
   line-height: 110%;
}

ul > p {
   font-size: 1.8rem;
}

h3 {
   font-size: 2.7rem;
   margin-top: 5rem;
}

h2 {
   font-size: 5rem;
}

img {
   width: 200px;
}




/* general class */
.text_description {
   margin-top: 5rem;
   line-height: 130%;
}

._container {
   background-color: rgb(28, 28, 196);
   padding: 7rem 14rem;
   height: 100vh;
}

.card_hidden {
   position: absolute;
   top: -1rem;
   left: -1rem;
}

.overlay_end_game {
   height: 60%;
   width: 70%;
   background-color: rgba(27, 27, 27, 0.95);

   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   
   justify-content: center;
   align-items: center;
}

.play_again {
   margin-top: 3rem;
   padding: 15px 25px;
   font-size: 1.5rem;
}


/* over */
._card {
   cursor: pointer;
}






/* mediaquery */

/* quando la vista è inferiore a 576px */
@media (max-width: 576px) {

	._container {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: start !important;
      width: auto;
      height: 100%;
      padding: 0.5rem;
   }

   .text_description {
      margin-top: 2rem;
      line-height: 40%;
   }

   .game_board {
      justify-content: center;
      flex-wrap: wrap;
      max-width: 400px;
      margin-bottom: 4rem;
   }

   .text_board {
      text-align: center;
   }

   .error_ {
      justify-content: center;
   }

   .overlay_end_game {
      height: 60%;
      width: 90%;

      top: 65%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   .play_again {
      max-width: 200px;
      font-size: 1.3rem;
      padding: 10px 15px;
   }


   /* img of cards */
   ._card {
      margin: 5px !important;
   }




   /* tag class */
   img {
      width: 120px;
   }

   h1 {
      font-size: 3rem;
      line-height: 110%;
   }

   ul > p {
      font-size: 1rem;
   }

   h3 {
      font-size: 1.6rem;
      margin: 3rem 0;
   }

   h2 {
      font-size: 2.5rem;
   }


}